*.csv
.DS_Store
.terraform/
.terraform.lock.hcl
lambda_function_payload.zip
airflow_variables.json
/infrastructure/cloudwatch.tf
/infrastructure/ec2.tf
/infrastructure/glue_crawler.tf
/infrastructure/kinesis.tf
/airflow
simulations_to_kinesis.py